#sum {
  margin-top: 5px;
  font-size: 50px;
  font-weight: bold;
  color: #007bff;
  border-top: 6px double #007bff;
}

#cancel {
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn-primary {
  margin-top: 2px;
}

.row {
  margin-top: 5px;
  margin-bottom: 5px;
}

.inc {
  font-size: 25px;
  font-weight: bold;
}

.dec {
  font-size: 12px;
  font-weight: bold;
  color: #0f5d90;
}

.vagon {
  width: 30px;
  height: 10px;
}

hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

.tnotcompleted {
  color: red;
}

.tcompleted {
  color: green;
}

